.contato{
    height: max-content;
    background-color: #FCE373;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 80px;
    box-shadow: -18px -18px 25px 25px rgba(0, 0, 0, 0.322);
    font-family: Raisonne DemiBold, Arial;
}

.contato form{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contato .dados, .assunto{
    border: none;
    color: #231f20;
    background-color: #FCE373;
    border-bottom: 2px solid #231f20;
    width: 48%;
    padding: 2px;
}

.message{
    border: 1px #231f20 solid;
    text-align: left;
    padding: 8px;
    background-color: #ffefaa;
    border-radius: 5px;
    height: 200px;
    width: 90vw;
    max-width: 500px;
    margin-top: 40px;
}

.message::placeholder{
    color: #000;
}

.Assunto{
   display: flex;
   justify-content: center;
   margin-top: 25px;
   width: 100%;
}

.assunto{
    width: 100%;
}

.assunto::placeholder{
    color: #231f20;
}


.message::-webkit-input-placeholder {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    vertical-align: middle;
  }

.contato .dados::placeholder{
    color: #231f20;
}

.contato input{
        box-shadow: 0 0 0 0;
        outline: 0;
}

.contato .dados:focus{
    border: none;
    
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inputs{
    margin-top: 40px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.contato h2{
    font-size: 2.5rem;
    border-bottom: 2px solid #231f20;
}

.enviar{
    margin-top: 20px;
    width: 90vw;
    max-width: 500px;
    border-radius: 5px;
    padding: 13px 0px;
    border: none;
    color: #fff;
    background-color: #231f20;
}



.contato footer{
    width: 90vw;
    max-width: 500px;
    border-top: 2px solid #000;
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
}