.habilidades{
    background-color: #F37449;
    color: #231f20;
    overflow: hidden;
    display: flex;
    height: 80vh;
    width: 50vw;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    transition: 2s all;
    box-shadow: -2px -2px 5px 5px rgba(0, 0, 0, 0.086);
}

.fullhab{
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}

.titulo{
    display: flex;
    height: 50px;
    overflow: hidden;
}

.habilidades h2{
    font-size: 2.5rem;
    border-bottom: 2px solid #231f20;
}


.skill{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 2rem;
    border: 2px solid #231f20;
    padding: 18px;
    height: 8rem;
    width: 20rem;
    transition: 0.5s all;
    overflow: hidden;
}

.descricao{
    display: none;
    margin-left: 1000px;
    transition: 3s all;
}

.skill:hover{
    background-color: #aaaaaa91;

}

.skill:hover .nome{
    display: none;
  }

.skill:hover .descricao{
    display: flex;
    margin-left: 0px;
}

.skill h3{
    font-size: 1.8em;
}

.nome{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.habilidades .btn{
    position: relative;

    padding: 10px;
    color: #fff;
    background-color: #221b1b9d;
    border: 2px solid #fff;

}


.habilidades .btn:hover{
    background-color: #F37449;
}


@media screen and (max-width: 1024px) {
.habilidades{
    width: 100%;
}
.fullhab{
    width: 100%;
}
}