.habilidades{
    background-color: #F37449;
    color: #231f20;
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
    box-sizing: border-box;
    padding-bottom: 80px;
}



.titulo{
    display: flex;
    height: 50px;
    overflow: hidden;
}

.habilidades h2{
    font-size: 2.5rem;
    
}


.skill{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 2rem;
    border: 2px solid #231f20;
    padding: 18px;
    height: 8rem;
    width: 20rem;
    transition: 0.5s all;
    overflow: hidden;
}

.descricao{
    display: none;
    margin-left: 1000px;
    transition: 3s all;
}

.skill:hover{
    background-color: #aaaaaa91;

}

.skill:hover .nome{
    display: none;
  }

.skill:hover .descricao{
    display: flex;
    margin-left: 0px;
}

.skill h3{
    font-size: 1.8em;
}

.nome{
    display: flex;
    justify-content: space-between;
    align-items: center;
}