.projetos{
   
    padding-bottom: 50px;
    
    width: 100vw;
    background-color: #cca69a;

}

.fullProjects{
    background-color:#cca69a;
    padding-top: 70px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    font-size: 2rem;
    color: #231f20;
    background-color:#cca69a;
    border-bottom: 2px solid #231f20;
    border-radius: 2px;
}

.carrossel{
    display: flex;
    
    margin-top: 25px;
 /*animation: carrossel 4s 0.5s infinite linear alternate-reverse; */
}

.github{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fce373;
    padding-bottom: 50px;
}

.github a{
    color: #fce373;
    text-decoration: none;
    background-color: #231f20;
    padding: 1rem;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes carrossel {
    to{
        margin-left: 0;
    }

    from{
        margin-left: -240%;
    }
}

.container{
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.seperator{
    width: 100%;
}

.controlsWrapper{
    width: 100%;
}

.carouselWrapper{
    width: 100%;
}

.recCarouselItem:focus{
    outline: none;
    box-shadow: inset 0 0 1px rgb(238, 130, 238);
}