.projetos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 75vw;
   /* box-shadow: 0px 0px 3px 2px #fce373;*/
    border-radius: 5px;
    border: 2px solid #fce373; 
    color: #fce373;
    background-color: #3b3b3b;
    color: #fff;
    height: 400px;
    margin: 15px;
    padding: 40px 30px;
}

.informacoes h3{
    margin-top: 18px;
    font-size: 0.9rem;
    font-weight: initial;

}

.projetos h2{
    font-size: 1.7rem;
    padding-top: 13px;
    
    margin: auto;
    overflow-x: hidden;
}

.projetos p{
    margin-top: 10px;
    font-size: 0.75rem;
    padding: 0px 10px;
    text-align: center;
}

.projetos img{
    border-radius: 5px;
}

.informacoes p{
    text-align: center;
    height: 50%;
  
}

.tudo{
    display: flex;flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50%;
}