.projetos{
    height: fit-content;
    padding-bottom: 50px;

    width: 100vw;
    background-color: #cca69a;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    flex-direction: column;
}

.fullProjects{
    background-color:#cca69a;
}

.titulo{
    padding-top: 70px;
    font-size: 1.55rem;
    color: #231f20;
    background-color:#cca69a;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrossel{
    display: flex;
    margin-top: 25px;
    margin-left: 250px;
  /*  animation: carrossel 4s 0.5s infinite linear alternate-reverse; */
}

.github{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fce373;
    padding-bottom: 50px;
}

.github a{
    color: #fce373;
    text-decoration: none;
    background-color: #231f20;
    padding: 1rem;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

@keyframes carrossel {
    to{
        margin-left: 0;
    }

    from{
        margin-left: 100%;
    }
}
