.sobre{
    height: max-content;
    width: 100%;
    background-color: #A385BD;
    color: #e0cbf1;
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px 40px;
    text-align: center;
    font-size: 1.2em;
    box-shadow: -2px -2px 5px 5px rgba(0, 0, 0, 0.086);
}

.sobre img{
    width: 12em;
    height: 15em;
    border-radius: 10px;
    margin-top: 25px;
}

.sobre h2{
    font-size: 2.5rem;
    width: max-content;
    border-bottom: 2px solid #231f20;
}

