@import url(//db.onlinewebfonts.com/c/05d0872c73920fc4541caa9c7950f686?family=Raisonne+DemiBold);

.titulo{
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 22px;
    margin-top: 50px;
    font-size: 2.8rem;
    flex-direction: column;
    padding: 0;
    padding-bottom: 2px;
    align-self: center;
    font-family: Raisonne DemiBold, Arial;
}

#estatico{
    display: none;
}

.titulo .titulos{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;

}

.titulo #mv{ 
    position: relative;
    top: 15px;
    animation: descer 2s linear infinite alternate;
}

.titulo #meu {
    position: relative;
    top: 70px;
    animation: subir 2s linear infinite alternate;
}

@keyframes descer {
    33.33%{
        top: 15px;
    }

    70%{
        top: 70px
    }
    
    80%{
        top: 70px
    }

    100%{
        top: 70px
    }
}

@keyframes subir{
    33.33%{
        top: 70px;
    }

    70%{
        top: -8px
    }

    80%{
        top: -8px
    }

    100%{
        top: -8px
    }
}

#franca{
    position: relative;
    top: 5px;
    padding: 4px;
    animation: subirBaixo 2s linear infinite alternate;
}

@keyframes subirBaixo{
    33.33%{
        top: 5px;
    }

    70%{
        top: -60px
    }

    80%{
        top: -60px
    }

    100%{
        top: -60px
    }
}

#portfolio{
    position: relative;
    
    top: -70px;
    animation: subirDepois 2s linear infinite alternate;
}

@keyframes subirDepois{
    33.33%{
        top: -70px;
    }

    70%{
        top: -22px;
    }

    80%{
        top: -22px;
    }

    100%{
        top: -22px;
    }
}

@media screen and (min-width: 1024px) {
    #movimento{
       display: none;
    }

    #estatico{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 4.2em;
        font-family: Raisonne DemiBold, Arial;
        padding-top: 90px;
        line-height: 55px;
        
    }

    .dev{
        font-size: 0.5em;
    }
}